@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
:root{
    --primary-color:#ffe8d6;
    --secondary-color: #6d6875;
   
}
label{
    color: black;
}
h1{
    color: #3c08b6;
    text-align: center;
}
body{
    background-color: var(--primary-color);
    font-family: 'Gemunu Libre', sans-serif;
    margin: auto;
    max-width: 400px;
    font-size: x-large;
    padding: 5rem;
    padding-top: 2rem;
    border-style: groove;
}

.textbox{
padding-bottom: 1rem;
}
#submitBtn{
    padding: 0.5rem;
    margin: 1rem;
    background-color: #52b69a;
    border-radius: 0.5rem;
    margin-left: 120px;
}
#output{
    color: #004b23;
    font-weight: bolder;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}